<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css" />
    </head>

    <body style="background-color:black">

        <br>

        <br>
        <br>

        <br>
        <div class="pbanner">
            <ul id="menu">

                [
                <a style="color: #9e4ef7; " href="maldev.html"> Maldev</a> //



                <a style="color: #9e4ef7; " href="reversing.html"> RE </a> //



                <a style="color: #9e4ef7;" href="binex.html"> Binex </a> //



                <a style="color: #9e4ef7; " href="misc.html"> Misc </a> ]

            </ul>
        </div>
    </body>
</html>
